{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_setting.helper.header.show'|trans({'%name%': helper.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(helper, 'list') }}
{{ admin_resource_btn(helper, 'new') }}
{% endblock %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(helper, 'edit') }}
    {{ admin_resource_btn(helper, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
	    <li class="active"><a href="#prod-helper-general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
	</ul>
	<div class="show-body">
	    <div class="tab-content">
		    <div class="tab-pane active" id="prod-helper-general">
		        {{ show_row(helper.name, 'text', 'ekyna_core.field.name') }}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(helper.reference, 'text', 'ekyna_core.field.reference', {'label_nb_col': 4}) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(helper.enabled, 'text', 'ekyna_core.field.enabled', {'label_nb_col': 4}) }}
                    </div>
                </div>
                {{ show_row(path('ekyna_setting_helper_admin_tinymce', identifiers|merge({'helperId': helper.id})), 'tinymce', 'ekyna_core.field.content') }}
		    </div>
        </div>
	</div>
</div>
{% endblock %}