<ul class="nav nav-tabs">
    <li class="active"><a href="#setting-redirection-general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ form_errors(form) }}
    <div class="tab-content">
	    <div class="tab-pane active" id="setting-redirection-general">
	        {{ form_row(form.fromPath) }}
	        {{ form_row(form.toPath) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.permanent, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.enabled, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
	    </div>
        {{ form_rest(form) }}
    </div>
</div>