{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(redirection, 'edit') }}
    {{ admin_resource_btn(redirection, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#redirection-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="redirection-general">
                {{ show_row(redirection.fromPath, 'text', {
                    'label': 'ekyna_setting.redirection.field.from_path'
                }) }}
                {{ show_row(redirection.toPath, 'text', {
                    'label': 'ekyna_setting.redirection.field.to_path'
                }) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(redirection.permanent, 'boolean', {
                            'label': 'ekyna_setting.redirection.field.permanent',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(redirection.enabled, 'boolean', {
                            'label': 'ekyna_core.field.enabled',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
